@charset "UTF-8";

/*--------------------------------------
	テキスト定義
---------------------------------------*/

.fwN{font-weight:normal;}
.fwB{font-weight:bold;}
.taC{text-align:center;}
.taL{text-align:left;}
.taR{text-align:right;}
.vaM{vertical-align:middle;}


/*--------------------------------------
	フロート定義
---------------------------------------*/

.clear{clear:both;}


/*--------------------------------------
	マージン定義
---------------------------------------*/

.mB5 {margin-bottom:5px!important;}
.mB10 {margin-bottom:10px!important;}

