@charset "UTF-8";

/*--------------------------------------
	body定義
---------------------------------------*/
body {
    font-size: 13px;
    color: #333333;
    margin: 20px;
}

/*--------------------------------------
	テキストリンク定義
---------------------------------------*/
a {
    text-decoration: underline;
}

a:hover {
    background-color: blue;
    color: white;
}

/*--------------------------------------
	ヘッダー定義
---------------------------------------*/
#header h1 {
    font-size: 26px;
    border: 4px double #CCCCCC;
    margin-bottom: 5px;
    padding-left: 10px;
    background-color: #333333;
    color: white;
}

#header h1 span {
    font-size: 14px;
}

#header div.link {
    content: "";
    display: block;
    clear: both;
    text-align: right;
    margin: 10px;
}

#header p.menu {
    float: left;
    width: 45%;
    padding-bottom: 10px;
    text-align: left;
}

#header p.welocome {
    float: right;
    width: 45%;
    text-align: right;
    padding-bottom: 10px;
    height: 10px;
}

/*--------------------------------------
	コンテンツエリア定義
---------------------------------------*/
#contents {
    clear: both;
    margin: 10px 20px;
}

#contents h2 {
    font-size: 20px;
    border: 1px solid #333333;
    padding-left: 10px;
    margin-bottom: 15px;
}

#contents h3 {
    font-size: 16px;
    border-bottom: 1px dashed #333333;
    margin-bottom: 15px;
}

#contents p {
    margin-bottom: 15px;
}

#contents ul {
    margin-bottom: 15px;
}

#contents ul li {
    list-style-type: disc;
    margin-left: 25px;
}

#contents table {
    border-top: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    margin-bottom: 15px;
}

#contents th {
    text-align: center;
    border-right: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    padding: 4px;
    background-color: #CCCCCC;
}

#contents td {
    border-right: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    padding: 4px;
    background-color: #FFFFFF;
}

#contents fieldset {
    padding: 8px;
    margin-bottom: 15px;
}

#contents legend {
    padding: 0 6px;
    font-size: 14px;
    font-weight: bold;
}

#contents table.layout {
    border-top: 0;
    border-left: 0;
    margin-bottom: 0;
}

#contents table.layout th {
    text-align: center;
    border-top: 1px solid #AAAAAA;
    border-right: 0;
    border-bottom: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    padding: 2px;
    background-color: #CCCCCC;
}

#contents table.layout td {
    border: 1px solid #AAAAAA;
    padding: 2px;
}

#contents table.layout td.no-border {
    border: 0;
}


#contents .error-message {
    border: 1px dotted #FF0000;
    padding: 10px 10px 0 10px;
    margin-bottom: 15px;
}

#contents .error-message ul li {
    color:#FF0000;
}

/*--------------------------------------
    ログインエリア定義
---------------------------------------*/
#login {
    width: 400px;
    margin: 0 auto;
}

#login table.login-table {
    margin: 0 auto;
}

/*--------------------------------------
	フッター定義
---------------------------------------*/
#footer {
    border-top: 2px solid #333333;
    text-align: center;
    padding: 5px;
}
